@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  padding: none;
  margin: none;
  font-family: "Poppins";
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: transparent;
}

.container{
  position: absolute;
  background-color: white;
  width: 800px;
  height: 100vh;
  margin: none;
  top: 0px;
  left: 0px;
  border-radius: 20px;
}

.sidebar{
  position: absolute;
  width: 100px;
  background-color: black;
  border-radius: 18px 0px 0px 18px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.profile{
  margin-bottom: 62px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #54F3FD;
  box-shadow: 0px 7px 20px 2px rgba(83, 255, 245, 0.29);
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.profile:hover{
  transform: scale(110%);
  border: 2px solid #27ffa5;
  box-shadow: 0px 7px 30px 4px rgba(5, 255, 151, 0.29);
}

.sidebar:first-child{
  padding-top: 55px;
  padding-bottom: 92px;
}

.logout{
  margin-top: 90px;
  margin-bottom: -63px;
}

svg{
  transition: all ease-in-out .2s;
  cursor: pointer;
}

svg:hover{
  transform: scale(110%);
}

svg:active{
  transform: scale(105%);
}

.nothing{
  position: absolute;
  top: 80px;
  left: 250px;
}

.user_cont{
  display: flex;
  align-items: center;
  position: absolute;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  background-color: black;
}

.profile_l{
  margin-left: 35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #54F3FD;
  box-shadow: 0px 7px 20px 2px rgba(83, 255, 245, 0.29);
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.hello{
  font-size: 24px;
  font-weight: 500;
  color: white;
  font-family: "Poppins";
  padding-left: 15px;
}